/* -----------------------------------------------------
Project     : Shortly URL Shortening
Deskription : A solution to Frontend Mentor Challenge
Author      : Langit Amaravati
Author URI  : https://www.langitamaravati.com
Version     : v.1.0.0
------------------------------------------------------*/

/* ----- Reset CSS ----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* ----- Variable ----- */

// Primary

$cyan: hsl(180, 66%, 49%);
$cyanHover: hsl(180, 66%, 75%);
$darkViolet: hsl(257, 27%, 26%);

// Secondary
$red: hsl(0, 87%, 67%);

// Neutral

$gray: hsl(0, 0%, 70%);
$grayishViolet: hsl(257, 7%, 63%);
$darkBlue: hsl(255, 11%, 22%);
$veryDarkViolet: hsl(260, 8%, 14%);
$ligthGray: #EFF1F7;

$box-padding: 3rem 2rem;


/* ----- Global CSS ----- */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: $gray;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    margin-bottom: 15px;
    color: $veryDarkViolet;
    font-weight: 700;
    line-height: 1.2em;
}

a {
    color: $cyan;
    text-decoration: none;
}

p {
    line-height: 1.7em;
}

@import 'sass/button', 'sass/navigation', 'sass/header', 'sass/form', 'sass/navigation', 'sass/section', 'sass/footer', 'sass/responsive'