/* -----------------------------------------------------
Project     : Shortly URL Shortening
Deskription : A solution to Frontend Mentor Challenge
Author      : Langit Amaravati
Author URI  : https://www.langitamaravati.com
Version     : v.1.0.0
------------------------------------------------------*/
/* ----- Table of Content -------------
1. Reset CSS
2. Root
3. Global CSS
4. Buttons
5. Navigation
6. Header
.. Footer  
.. Responsive
----------------------------------*/
/* ----- Reset CSS ----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----- Root ----- */
/* ----- Global CSS ----- */
body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #b3b3b3;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  margin-bottom: 15px;
  color: #232127;
  font-weight: 700;
  line-height: 1.2em;
}

a {
  color: #2acfcf;
  text-decoration: none;
}

p {
  line-height: 1.7em;
}

/* ----- Buttons ----- */
.button:active {
  outline: none;
  box-shadow: none;
  color: #fff;
}

.button-primary {
  background-color: #2acfcf;
  color: #fff;
  border-color: #2acfcf;
  transition-duration: 0.4s;
  padding: 25px 40px !important;
  font-size: 20px;
  font-weight: bold;
}
.button-primary:hover {
  background-color: #95e9e9;
  border-color: #95e9e9;
  color: #fff;
}

.button-submit {
  background-color: #2acfcf;
  color: #fff;
  border-color: #2acfcf;
  transition-duration: 0.4s;
  height: 100%;
  border-radius: 7px;
  font-size: 20px;
  font-weight: 700;
  border: 2px solid #2acfcf;
}
.button-submit:hover {
  background-color: #95e9e9;
  border-color: #95e9e9;
  color: #fff;
}

.button-text {
  border: none;
  color: #b3b3b3;
}

.button-signup {
  background-color: #2acfcf;
  color: #fff;
  border-color: #2acfcf;
  transition-duration: 0.4s;
}
.button-signup:hover {
  background-color: #95e9e9;
  border-color: #95e9e9;
  color: #fff;
}

.button-copy {
  background-color: #2acfcf;
  color: #fff;
  border-color: #2acfcf;
  transition-duration: 0.4s;
  border-radius: 5px;
  padding: 1.5rem 2.5rem;
}
.button-copy:hover {
  background-color: #95e9e9;
  border-color: #95e9e9;
  color: #fff;
}

/* ----- Navigation ----- */
.navbar {
  align-items: center;
}
.navbar__brand {
  display: flex;
  align-items: flex-start;
}
.navbar__item {
  font-size: 16px;
  color: #b3b3b3;
  padding-left: 10px;
  padding-right: 10px;
}
.navbar__item:hover {
  color: #35323e;
}
.navbar__item:active {
  color: #35323e;
}

.navbar-start {
  align-items: center;
}

/* ----- Header ----- */
.header {
  margin-bottom: 150px;
}
.header__heading {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.header__title {
  font-size: 4.5rem;
}
.header__image {
  margin-right: -200px;
}

.form__wrapper {
  margin-top: -10%;
  background: #3b3054 url(../images/bg-shorten-desktop.svg) no-repeat;
  background-size: cover;
  padding: 50px;
  border-radius: 12px;
}
.form__shortly {
  display: flex;
  justify-content: space-between;
}
.form__input {
  flex: 6;
  padding: 20px;
  font-size: 18px;
  border-radius: 7px;
  border: 1px solid #fff;
  margin-right: 30px;
}
.form__input:focus {
  outline: none;
  box-shadow: 2px 2px 10px #95e9e9;
}
.form__button {
  flex: 1;
}

#form-result {
  background-color: #fff;
  border-radius: 7px;
  padding: 1em 2em;
}
#form-result .link__original {
  color: #35323e;
  font-size: 18px;
}
#form-result .link__short {
  color: #2acfcf;
  font-size: 18px;
}

/* ----- Section ----- */
.section__title {
  font-size: 2.5rem;
  text-align: center;
}
.section__description {
  text-align: center;
}
.section__form {
  background-color: #EFF1F7;
}
.section__stats {
  background-color: #EFF1F7;
}
.section__stats--heading {
  padding-bottom: 75px;
}
.section__stats figure {
  margin-top: -75px;
  background-color: #3b3054;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__blurb {
  position: relative;
}
.section__blurb .box {
  position: relative;
  z-index: 100;
}
.section__blurb--divider {
  height: 10px;
  background-color: #2acfcf;
  width: 90%;
  position: absolute;
  top: 50%;
  z-index: 50;
  left: 20px;
  margin: 0 auto;
}
.section__blurb--col2 {
  margin-top: 50px;
}
.section__blurb--col3 {
  margin-top: 100px;
}
.section__cta {
  background: #3b3054 url(../images/bg-boost-desktop.svg) no-repeat left top;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 70px;
}

.box {
  padding: 3rem 2rem;
}
.box h3 {
  font-size: 1.5rem;
}
.box p {
  color: #b3b3b3;
  font-size: 16px;
}

/* ----- Footer ----- */
.footer {
  background-color: #232127;
}
.footer a {
  color: #b3b3b3;
}
.footer a:hover {
  color: #2acfcf;
}

.footer-widget__title {
  color: #fff;
}
.footer-widget li {
  line-height: 2.5rem;
}
.footer-widget__social {
  display: flex;
}
.footer-widget__social li {
  padding-right: 1.5em;
}
.footer-widget__social li a {
  color: #fff;
}

.attribution {
  font-size: 14px;
  text-align: center;
}
.attribution a {
  color: #fff;
}

/* ------------------------------ 
Responsive 
------------------------------- */
@media screen and (max-width: 767.98px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .button {
    display: flex;
  }

  .button-text {
    background-color: transparent;
    color: #fff;
    margin-bottom: 20px;
  }
  .button-text:hover {
    color: #2acfcf;
  }

  .form__wrapper {
    padding: 20px;
  }
  .form__shortly {
    flex-direction: column;
  }
  .form__input {
    margin-bottom: 30px;
    margin-right: 0;
  }

  #form-result .is-8 {
    border-bottom: 1px solid #b3b3b3;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  #form-result .link__original, #form-result .link__short {
    font-size: 16px;
  }

  #mainNavbar {
    position: absolute;
    margin-top: 20px;
    right: 7%;
    left: 7%;
    background-color: #3b3054;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
    transition: 0.5s;
  }

  .navbar-start {
    display: flex;
    flex-direction: column;
  }
  .navbar-start::after {
    content: "";
    display: block;
    border-bottom: 1px solid #9e9aa7;
    width: 80%;
    padding-bottom: 20px;
  }

  .navbar-end {
    padding-top: 20px;
    width: 90%;
    margin: 0 auto;
  }

  .navbar__item {
    color: #fff;
    line-height: 3rem;
  }
  .navbar__item:hover {
    color: #2acfcf;
  }

  .header .columns {
    display: flex;
    flex-direction: column;
  }
  .header__heading {
    order: 2;
    text-align: center;
  }
  .header__heading .buttons {
    justify-content: center;
  }
  .header__title {
    font-size: 2.7rem;
  }
  .header__image {
    order: 1;
  }

  .section__title {
    font-size: 1.7rem;
  }
  .section__stats {
    text-align: center;
  }
  .section__stats figure {
    margin: -80px auto 0;
  }
  .section__blurb--divider {
    height: 80%;
    top: 0;
    width: 10px;
    left: 50%;
  }
  .section__blurb--col2, .section__blurb--col3 {
    margin-top: 3rem;
  }
}/*# sourceMappingURL=style.css.map */