/* ----- Header ----- */
.header {
    margin-bottom: 150px;

    &__heading {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }

    &__title {
        font-size: 4.5rem;
    }

    &__image {
        margin-right: -200px;
    }
}